{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "../img/about/coffee-pour.jpg" "title" "Financials") }}
<div class="center pv4">
  <div class="mw7 center ph3 pt4">

    {{ partial "media-block" (dict "heading" "Synergy" "text" "Revenues from our licensed stores accounted for 10% of total net revenues in fiscal 2015. Licensed stores generally have a lower gross margin and a higher operating margin than company-operated stores. Under the licensed model, Kaldi receives a reduced share of the total store revenues, but this is more than offset by the reduction in our share of costs as these are primarily incurred by the licensee." "imageUrl" "/img/about/chart.jpg") }}

    {{ partial "media-block-reverse" (dict "heading" "Balance Sheet" "text" "In addition to coffee, we also purchase significant amounts of dairy products, particularly fluid milk, to support the needs of our company-operated stores. We believe, based on relationships established with our dairy suppliers, that the risk of non-delivery of sufficient fluid milk to support our stores is remote." "imageUrl" "/img/about/chart2.jpg") }}

    <ul>
      <li><a href="/"><button class="btn w-100 w-auto-ns
      raise">Logout</button></a></li>
    </ul>
  </div>
</div>

{{ partial "footer" . }}
